.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  align-items: flex-start;
}

.buttonsContainer {
  padding: 10px 0px 10px 0px;
  gap: 10px;
  display: flex;
  justify-content: end;
  .addProductButton {
    width: 115px;
  }
}
