.container {
  margin: 30px;
  padding: 30px;

  .formContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 20px;
    padding: 20px 0px 20px 0px;
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 24px;
    gap: 20px;
  }
}

.productTableContainer {
  margin: 30px;

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 24px;
  }
}

.modalTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
