.modalTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  position: absolute;
}

.textFieldsContainer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 24px;
  gap: 20px;
}
