.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 20px 0px;
  align-items: flex-start;
}

.buttonsContainer {
  padding: 20px 0px 20px 0px;
  gap: 10px;
  display: flex;
  justify-content: end;
  .updateButton {
    width: 115px;
  }
}
.modalTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
